$button-text: Chalkboard;

legend {
  text-align: center;
}

.header-text-1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 64px;
  text-align: center;
}

.tag-line {
  font-family: 'Berkshire Swash', cursive;
  font-style: italic;
  text-align: center;
}
